// Link category filter section
.filter {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 5rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

  @include respond(tab-land) {
    padding: 4rem;
  }

  @include respond(tab-port) {
    grid-gap: 1.5rem;
  }

  @include respond(phone) {
    padding: 2rem;
  }

  &__add,
  &__remove {
    &:link,
    &:visited {
      text-decoration: none;
      padding: 1rem;
      background: $color-blueviolet;
      border-radius: 2px;
      cursor: pointer;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s;
      max-height: 4.5rem;
      text-align: center;
      align-self: center;
    }

    &:hover {
      transform: translateY(-0.5rem);
    }

    &:active {
      transform: translateY(0rem);
    }
  }

  &__add {
    max-width: 14rem;
    @include respond(tab-port) {
      grid-column: 1/4;
    }
  }

  &__remove {
    max-width: 16rem;
    justify-self: end;

    @include respond(tab-port) {
      grid-column: 1/4;
    }
  }

  &__content {
    padding: 2rem;
    width: 100%;
    background: $color-blueviolet;
    border-radius: 2px;
    justify-self: center;

    @include respond(tab-port) {
      grid-column: 1/4;
    }

    & > button {
      padding: 1rem;
      background: $color-blueviolet;
      border-radius: 2px;
      margin: 1rem;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        color: $color-blueviolet;
        background: $color-white;
      }
    }
  }
}

// Link data card section

.card-wrap {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card {
    min-width: 45%;
    height: auto;
    padding: 2rem;
    background: $color-blueviolet;
    border-radius: 3px;
    margin: 1.5rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);

    @include respond(tab-port) {
      min-width: 40%;
      margin: 1rem;
    }

    @include respond(phone) {
      min-width: 100%;
    }

    &__top {
      display: flex;
      justify-content: space-between;
    }

    .card__fav-love {
      background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      height: 3.5rem;
      width: 3.5rem;
      transition: all 0.2s;
      @include d-flex;

      &:hover {
        transform: scale(1.07);
      }

      &:focus {
        outline: none;
      }

      & > svg {
        height: 1.75rem;
        width: 1.75rem;
        fill: $color-white;
      }
    }

    &__content {
      @include d-flex;
      flex-direction: column;
    }

    &__title {
      background: $color-blue;
      cursor: pointer;
      margin-top: 2rem;

      &:hover {
        background: $color-white;
      }
    }

    &__description {
      background: $color-white;
      margin: 1.5rem;
      padding: 1.5rem;
      border-radius: 3px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}
