// Header title and favourite icon
.header {
  width: 100%;
  height: 10vh;
  background-image: $color-bg-primary;
  text-align: center;

  @include d-flex;
  position: relative;

  position: fixed;

  &__favourite {
    position: absolute;
    top: calc(height - 10%);
    right: 5%;
    cursor: pointer;
  }
}
